body {

background-color:rgb(101, 78, 195) ;
color: black;
font-family: "Oswald", sans-serif;
font-size: 18px;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 5px;

}

button {
background-color: rgb(212, 168, 65);
color: black;
font-family: "Oswald", sans-serif;
}

.passo {
 display: none;


}

.passo.ativo {

    display: block;
}

main {
text-align: center;
max-width: 90%;

}

img {

max-width: 70%;


}
